@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-1: 245 126 49,
    --color-primary-2: 251 178 48,
    --color-primary-3: 253 208 13,
    --color-secondary-1: 43 76 125,
    --color-secondary-2: 71 103 162,
    --color-secondary-3: 111 190 230,
    --color-secondary-4: 128 181 214,
    --color-secondary-5: 255 247 241,
    --color-neutral-900: 0 0 0,
    --color-neutral-800: 61 61 61,
    --color-neutral-600: 111 111 111,
    --color-neutral-400: 183 183 183,
    --color-neutral-100: 243 243 243,
    --color-neutral-50: 255 255 255,
    --color-warning-500: 255 75 48,
    --color-warning-300: 239 144 114,
    --color-warning-50: 255 236 229,
    --color-warning-700: 91 157 45,
  }
};